body {
	background-image: url('../pics/balancebeam.jpg');
	background-attachment: fixed;
}

#bb {
	padding: 10px;
}

#bbform {
	height: 100%;
	width: 100%;
}

#balancebeam {
	opacity: .7;
	cursor: pointer;
	font-weight: 900;
	font-size: 250%;
	color: skyblue;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-radius: 7%;
	border: none;
	width: 100%;
	height: 100%;
	background-image: url('../pics/balancebeam.jpg');
	position: relative;
	box-shadow: 0 6px black;
	transition-property: opacity;
	transition-duration: 1s;
}

#balancebeam:hover {
	box-shadow: 0 4px black;
	top: 2px;
	opacity: 1;
}

#balancebeam:active {
	box-shadow: none;
	top: 6px;
}

#balancebeam:focus {
	outline: none;
	box-shadow: 1px 1px blue;
}

button {
	background-color: rgba(4,5,5,0.8);
	color: white;
	border:none;
	cursor: pointer;
}

div.row, div.in-body {
	background-color: rgba(4,5,5,0.8);
	width: 90%;
	margin: 1% auto;
	padding-bottom: 1%;
}

img {
	border-radius: 7%;
	width: 100%;
	height: 100%;
	opacity: .7;
	position: relative;
	display: block;
	box-shadow: 3px 6px black;
	transition-duration: 1s;
	transition-property: opacity ;
}

img:hover {
	box-shadow: 2px 4px black;
	top: 2px;
	left: 1px;
}

img:active {
	box-shadow: none;
	left: 2px;
	top: 6px;
}

figure {
	background-color: blue;
	border-radius: 7%;
	margin: 0;
	width: 30%;
	height: 27%;
	position: relative;
}

figure:nth-of-type(1) {
	background-color: black;
}

figure:nth-of-type(2), figure:nth-of-type(8) {
	background-color: tan;
}

figure:nth-of-type(3) figcaption{
	position: absolute;
	top: 50%;
	left: 60%;
	transition: transform 1s cubic-bezier(.8,.8,.8,1.2);
	transform: scale(0);
}

figure:nth-of-type(4) {
	background-color: springgreen;
}

figure:nth-of-type(6) .flipper {
	transform: translateY(-7%);
}

figure:nth-of-type(6) {
	background-color: rgba(0,0,0,0);
}

figure:nth-of-type(6) img {
	opacity: 1;
}

figure:hover {
	background-color: rgba(0,0,0,0);
}

figure:nth-of-type(3):hover figcaption {
	transform: scale(2);
}

figcaption {
	margin-top: 1%;
	text-align: center;
	border-bottom: 1px solid springgreen;
	border-radius: 50%;
	color: rgb(220,220,220);
}

img:nth-of-type(even) {
	border-radius: 35%;
}

img:hover {
	opacity: 1;
}

.title {
	margin: auto;
	background-color: rgba(20,20,20,0.7);
	color: rgb(220,220,220);
	border-bottom: 2px solid gray;
	border-top: 2px solid gray;
	border-color: rgb(220,220,220);
	width: 20%;
	padding: .5%;
	border-radius: 25%;
	text-align: center;
	font-family: Raleway;
}

.row {
	height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
	border: 1px solid black;
}

#sideways {
	position: absolute;
	top: 50%;
	left: 40%;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
	text-align: center;
	width: 25%;
	margin: 0 auto;
	transform: scale(0);
	transition: transform 1s cubic-bezier(.75, .8, .7, 1.25);
	text-transform: uppercase;
}

#wss:hover #sideways {
	transform: scale(2);
}

#wss {
	filter: grayscale(100%);
	transition: filter 1s linear;
}

#wss:hover {
	filter: grayscale(0);
}

.block {
	height: 100px;
	width: 100px;
	background-color: springgreen;
}

.in-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
