body {
	background-image: url('../pics/balancebeam.jpg');
	background-attachment: fixed;
}

#bb {
	padding: 10px;
}

#bbform {
	height: 100%;
	width: 100%;
}

#balancebeam {
	opacity: .7;
	cursor: pointer;
	font-weight: 900;
	font-size: 250%;
	color: skyblue;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-radius: 7%;
	border: none;
	width: 100%;
	height: 100%;
	background-image: url('../pics/balancebeam.jpg');
	position: relative;
	-webkit-box-shadow: 0 6px black;
	        box-shadow: 0 6px black;
	-webkit-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 1s;
	     -o-transition-duration: 1s;
	        transition-duration: 1s;
	background-size: 100%;
}

#balancebeam:hover {
	-webkit-box-shadow: 0 4px black;
	        box-shadow: 0 4px black;
	top: 2px;
	opacity: 1;
}

#balancebeam:active {
	-webkit-box-shadow: none;
	        box-shadow: none;
	top: 6px;
}

#balancebeam:focus {
	outline: none;
	-webkit-box-shadow: 1px 1px blue;
	        box-shadow: 1px 1px blue;
}

button {
	background-color: rgba(4,5,5,0.8);
	color: white;
	border:none;
	cursor: pointer;
}

div.row, div.in-body {
	background-color: rgba(4,5,5,0.8);
	width: 90%;
	margin: 1% auto;
	padding-bottom: 1%;
}

img {
	border-radius: 7%;
	width: 100%;
	height: 100%;
	opacity: .7;
	position: relative;
	display: block;
	-webkit-box-shadow: 3px 6px black;
	        box-shadow: 3px 6px black;
	-webkit-transition-duration: 1s;
	     -o-transition-duration: 1s;
	        transition-duration: 1s;
	-webkit-transition-property: opacity ;
	-o-transition-property: opacity ;
	transition-property: opacity ;
}

img:hover {
	-webkit-box-shadow: 2px 4px black;
	        box-shadow: 2px 4px black;
	top: 2px;
	left: 1px;
}

img:active {
	-webkit-box-shadow: none;
	        box-shadow: none;
	left: 2px;
	top: 6px;
}

figure {
	background-color: blue;
	border-radius: 7%;
	margin: 0;
	width: 30%;
	height: 27%;
	position: relative;
}

figure:nth-of-type(1) {
	background-color: black;
}

figure:nth-of-type(2), figure:nth-of-type(8) {
	background-color: tan;
}

figure:nth-of-type(3) figcaption{
	position: absolute;
	top: 50%;
	left: 60%;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: -webkit-transform 1s cubic-bezier(.8,.8,.8,1.2);
	transition: -webkit-transform 1s cubic-bezier(.8,.8,.8,1.2);
	-o-transition: transform 1s cubic-bezier(.8,.8,.8,1.2);
	transition: transform 1s cubic-bezier(.8,.8,.8,1.2);
	transition: transform 1s cubic-bezier(.8,.8,.8,1.2), -webkit-transform 1s cubic-bezier(.8,.8,.8,1.2);
}

figure:nth-of-type(4) {
	background-color: springgreen;
}

figure:nth-of-type(6) .flipper {
	-webkit-transform: translateY(-7%);
	    -ms-transform: translateY(-7%);
	        transform: translateY(-7%);
}

figure:nth-of-type(6) {
	background-color: rgba(0,0,0,0);
}

figure:nth-of-type(6) img {
	opacity: 1;
}

figure:hover {
	background-color: rgba(0,0,0,0);
}

figure:nth-of-type(3):hover figcaption {
	-webkit-transform: scale(2);
	    -ms-transform: scale(2);
	        transform: scale(2);
}

figcaption {
	margin-top: 1%;
	text-align: center;
	border-bottom: 1px solid springgreen;
	border-radius: 50%;
	color: rgb(220,220,220);
}

img:nth-of-type(even) {
	border-radius: 35%;
}

img:hover {
	opacity: 1;
}

.title {
	margin: auto;
	background-color: rgba(20,20,20,0.7);
	color: rgb(220,220,220);
	border-bottom: 2px solid gray;
	border-top: 2px solid gray;
	border-color: rgb(220,220,220);
	width: 20%;
	padding: .5%;
	border-radius: 25%;
	text-align: center;
	font-family: Raleway;
}

.row {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: distribute;
	    align-content: space-around;
	border: 1px solid black;
}

#sideways {
	position: absolute;
	top: 50%;
	left: 40%;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
	text-align: center;
	width: 25%;
	margin: 0 auto;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: -webkit-transform 1s cubic-bezier(.75, .8, .7, 1.25);
	transition: -webkit-transform 1s cubic-bezier(.75, .8, .7, 1.25);
	-o-transition: transform 1s cubic-bezier(.75, .8, .7, 1.25);
	transition: transform 1s cubic-bezier(.75, .8, .7, 1.25);
	transition: transform 1s cubic-bezier(.75, .8, .7, 1.25), -webkit-transform 1s cubic-bezier(.75, .8, .7, 1.25);
	text-transform: uppercase;
}

#wss:hover #sideways {
	-webkit-transform: scale(2);
	    -ms-transform: scale(2);
	        transform: scale(2);
}

#wss {
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
	-webkit-transition: -webkit-filter 1s linear;
	transition: -webkit-filter 1s linear;
	-o-transition: filter 1s linear;
	transition: filter 1s linear;
	transition: filter 1s linear, -webkit-filter 1s linear;
}

#wss:hover {
	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
}

.block {
	height: 100px;
	width: 100px;
	background-color: springgreen;
}

.in-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
